* {
    box-sizing: border-box;
    }
    /*These are my main colors I will be using*/
    :root{
    --main-col:Salmon;
    --main-col2:Salmon;
    --main-col3:#f9f7f7;
    --main-col4:black;
    }
    body {
    font-family: Arial;
    margin: 5;
    color:#f9f7f7;
    }
    
.header {
    padding: 5px;
    text-align: center;
    background: var(--main-col);
    color: #f9f7f7;
    }
    
    input[type="text"]{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid silver;
    }
    
    button{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gold;
    }
    
    .navbar {
    display: flex;
    background-color: var(--main-col2);
    }
    
    .navbar a {
    color:#f9f7f7;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    }
    
    .navbar a:hover {
    background-color: gold;
    color: var(--main-col4);
    }
    
    /* This is the Column container */
    .row {
    display: flex;
    flex-wrap: wrap;
    }
    
    /* This is the left sidebar */
    .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    }
    
    .main {
    flex: 70%;
    background-color:rgb(253, 115, 115);
    padding: 20px;
    }
    
    .banner {
        height: 250px;
        width: 100%;
        }

        .bann {
          height: 300px;
          width: 100%;
          }

    .banner img {
        height: 200px;
        width: 100%;
        }
 
    .crystalsandtinks {
    height: 90px;
    }

    /* This is my Footer */
    .footer {
    padding: 20px;
    text-align: center;
    background: var(--main-col2);
    color: #f9f7f7;
    }
    
    .slider {
      width: 500px;
      height: 300px;
      background-color: goldenrod;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      text-align: center;
      overflow: hidden;
    }
    .image-container {
      width: 1500px;
      background-color: pink;
      height: 300px;
      clear: both;
      position: relative;
      -webkit-transition: left 2s;
      -moz-transition: left 2s;
      -o-transition: left 2s;
      transition: left 2s;
    }
    .slide {
      float: left;
      margin: 0px;
      padding: 0px;
      position: relative;
    }
    #slide-1:target ~ .image-container {
      left: 0px;
    }
    #slide-2:target ~ .image-container {
      left: -500px;
    }
    #slide-3:target ~ .image-container {
      left: -1000px;
    }
    .buttons {
      position: relative;
      top: -20px;
    }
    .buttons a {
      display: inline-block;
      height: 15px;
      width: 15px;
      border-radius: 50px;
      background-color: salmon;
    }
    .button {
      border: none;
      color: rgb(255, 255, 255);
        background-color: rgb(231, 150, 161);
      padding: 5px 22px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


    /* Media query which will enable my mobile view when screen becomes more than 700px */
    .component {
        width: 300px;
      }
      @media (min-width: 700px) {
        .component {
          width: 600px;
        }
      }
      @media (min-width: 1280px) {
        .component {
          width: 800px;
        }
      }